version: "3.9"
services:
  postgres:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    hostname: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: docsDB
    volumes:
      - local_pgdata:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    depends_on:
      - postgres
    restart: unless-stopped
    ports:
      - "3002:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: valeri_petkov01@abv.bg
      PGADMIN_DEFAULT_PASSWORD: postgres
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  docsapi:
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    container_name: docsapi
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    restart: always
  webserver:
    image: nginx:mainline-alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx-conf:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    depends_on:
      - docsapi
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    depends_on:
      - webserver
    command: certonly --webroot --webroot-path=/var/www/html --email sammy@mopdocs-backend.xyz --agree-tos --no-eff-email --staging -d mopdocs-backend.xyz  -d www.mopdocs-backend.xyz
volumes:
  local_pgdata:
  pgadmin-data:
  certbot-etc:
  certbot-var: